/* johnspahr.org stylesheet - (c) John Spahr */


/* ---HEADER/FOOTER--- */

.tbBox {
    background-color: #444;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-size: 20px;
}

nav {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding: 10px;
}

nav a,
nav a:visited {
    color: #ddd;
    margin: 10px;
}


/* ---SECTIONS LIST--- */

.sectionsListItem {
    background-color: #444;
    max-width: 600px;
    border: 2px solid #ddd;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.sectionsListItem hr {
    background-color: #222;
    border: 1px solid #222;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sectionsListItem h4 {
    margin-bottom: 5px;
    margin-left: 20px;
}

.sectionContent {
    padding: 10px;
}

.banner {
    background-color: #222;
    display: flex;
    padding: 5px;
    border-radius: 25px;
}


/* ---GENERAL PAGE STUFF--- */

html,
body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #222;
    color: #ddd;
}

a,
a:visited {
    text-decoration: none;
    color: #bef17c;
}

a:hover {
    text-shadow: 0px 0px 2px #ccc;
}

hr {
    padding: 0px;
    margin: 0px;
    background-color: #bef17c;
    border: 2px solid #bef17c;
}

.content {
    padding: 10px;
}

.content .button,
.spamspan {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 8px;
    background-color: #bef17c;
    color: black;
    border-radius: 25px;
    text-decoration: none;
}

.content .button:hover,
.menuBtn:hover,
.spamspan:hover {
    background-color: #888;
}